<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Page</title>
    </head>
    <body>
        <h1>
        <p>Site in maintenance</p>
        </h1> 
    </body>
</html>